.destinations {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;
}

.image1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    width: 100%;
    height: 100%;
    display: block;}

.image2 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.image3 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 100%;
    height: 100%;
    display: block;
}

.image4 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    height: 100%;
    display: block;
}

.image5 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    width: 100%;
    height: 100%;
    display: block;
}

.button {
    position: absolute;
    background: #F89F4E;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 26px;
    letter-spacing: 0.21px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FAFAFA;
}

a {
    text-decoration: none;
    color: #FAFAFA;
}

.back {
    padding: 40px 100px;
}

.back:visited {
    color: #FAFAFA;
}

.image {
    display: block;
    padding-bottom: 35px;
    padding-top: 35px;
    padding-right: 45px;
    transform: rotate(180deg);
}

.nuevo {
    color: #F2F2F2;
    background-color: #02A29F;
    padding: 10px 32px;
    position: absolute;
    right: 0;
    z-index: 10;
}
